*, *::before, *::after{
    box-sizing: border-box;
}



/*  */
/* navbar */
.nav-logo{
    height: 2em;
}
li{
    list-style: none;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(4, 247, 4, 0.128);
    height: 4.25em;
    padding: 1em 0 1em 0;
    /* box-sizing: border-box; */
 
}
button{
    border: none;
    border-radius: 0.2em;
    background-color: #50bbd0;
    color: black;
    padding: .75em 2em;
    width: 150px;
    text-align: center;
}
 .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.link{
    transition: .5s ease;
}
.button:hover{
    background-color: #10d085;
    color:#60d085
}

/* end navbar */
/* -------------------------------------------------- */
/* hero */

.hero{
  

    margin: 6.25em auto 0 auto;
    padding: 0;
    height: 900px;
    max-width: 1400px;
    width: 100%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(4, 239, 247, 0.128), transparent 80%), linear-gradient(0deg,#f7f2e8c9 , transparent), rgba(0, 128, 68, 0.539) url(assets-rw/herow.png) no-repeat center;
    background-size: cover;
    text-align: center;
}

.full-icon{
    height: 15em;
    width: auto;
}

/* end hero */

