*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    background-color:#f7f2e8c9 ;
    padding-top: 6.25em;
}
a{
    font-family: "Funnel Sans", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

h2{
    font-family: "Funnel Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}


/* navbar */
.nav-logo{
    height: 2em;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /* background: rgba(4, 247, 4, 0.128); */
    background: rgba(4, 247, 158, 0.423);
    height: 4.25em;
    padding: 1em 0 1em 0;
    margin-bottom: 2em;
} 

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.nav-menu li{
   
    border-radius: 0.2em;
    /* background-color: #50bbd0; */
    background-color: #5099d086;
    /* color: black; */
   
    padding: .75em 2em;
    width: 150px;
    text-align: center;
}
.nav-menu li a{
    color: rgb(244, 238, 233);
}

.link{
    transition: .5s ease;
}
.button:hover{
    /* background-color: #10d085; */
    background-color: #5099d0dd;
    /* color:#60d085 */
}
.navbar.hidden {
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.4s ease; /* Smooth fade out */
}
/*  */

/* mobil navbar styles */
.hamburger {
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background-color: #50bbd0;
}
/* end mobil nav */
/* hero styles */
.hero{  
    padding: 0;
    height: 700px;
    max-width: 1200px;
    border-radius: 10px;
    /* box-shadow: inset 51px 5px 51px rgba(0, 0, 0, 0.128); */
    box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.223);
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: 
    linear-gradient(rgba(4, 239, 247, 0.128), transparent 80%), 
    linear-gradient(0deg,#f7f2e89b , transparent 90%), 
    
     url(assets-rw/moses-cone.png) no-repeat center,
     rgba(0, 128, 68, 0.539)
     ;

    background-size: cover;
    text-align: center;
}
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6em;
   
}
.full-icon{
    height: 10em;
    width: auto;
}
.name {
    font-family: "Funnel Sans", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .8em;
    text-align: center;
    padding-left: 15px;
}
/* end hero */
/* gallery container */

.grid-container{
    display: grid;
    max-width: 1200px;
    padding: 2em 0;
    margin: 0 auto;
    height: auto;
    gap: .5em;
    grid-template-rows: 300px 2fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "c1 c1"
    "c2 c3"
    ;
}
.c1{
    grid-area: c1;
    /* text-align: center; */
    /* padding: 4em 0; */
    /* background: #060604c9; */
    
    ;

}
.c2{
    max-width: 100%;
    height: 100%;
    background: 
    linear-gradient(#16a0847d, transparent 80%), linear-gradient(0deg,#8080da7c, transparent 80%),
    url(assets-rw/ncw9.jpg) no-repeat center;
    opacity: .9;
    background-size: cover;
    background-color: #10d085;
    grid-area: c2;
}
.c3{
    max-width: 100%;
    height: 100%;
    background: linear-gradient(#16a0847d, transparent 80%), linear-gradient(0deg,#8080da7c, transparent 80%),
    url(assets-rw/ncw12.jpg) no-repeat center;
    opacity: .9;
    background-size: cover;
    grid-area: c3;
}
/* -------- */
/* .cont1 img{
    height: 450px;
} */

.cont1{
    display: block;
    padding: 2em 0;
    overflow: hidden; 
    width: 100%;
    /* background: green; */
    background-color: #dbd7cf36;
}

/* This is the 'Frame' that holds the buttons and the track */
.slider-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    /* overflow: hidden;  */
    padding: 0 50px;
    
}
.slider-window{
    overflow: hidden;
    width: 100%;
}
/* This is the 'Train' that actually moves */
.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    gap: 2px;
    /* padding: 20px 0; */
}

.slider-track img {
    /* (100% divided by 3) minus gap adjustment */
    flex: 0 0 33%; 
    height: 250px;
    object-fit: contain;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}
.prev-btn, .next-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    opacity: 0;
    transition: opacity .3s ease;
    pointer-events: none;
}
.slider-container:hover .prev-btn,
.slider-container:hover .next-btn {
    opacity: 1; /* Makes them visible */
    pointer-events: auto; /* Re-enables clicking */
}

.prev-btn{
    left: 0;
    
}
.next-btn{
    right: 0;
}
/* ------------------------- */
.cont2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    /* padding: 5em; */
}
.cont3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #10a085;
    border-radius: .5em; 
}
.cont2, .cont3{
    padding: 10em 2em;
    text-align: center;
}
.heading h3{
    color: white;
    font-weight: 100;
    letter-spacing: 5px;
     transition: color 0.4s ease, transform 0.4s ease;
}

.heading h3:hover{
   color: #cdf9f9;
   transform: scale(1.2);
}
/* end gallery */
/* footer */
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 4em;
    padding: 2em 0;
    background-color: #dbd7cf36;
}
.desc h4{
    /* background: green; */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: 1em;

}

/* end footer */



@media(max-width: 768px){
    .slider-track img{
        flex: 0 0 100%;
    }
    .slider-track{
        gap:0;
    }
    .slider-container{
        padding: 0 30px;
    }
    .prev-btn, .next-btn{
        opacity: 1;
        pointer-events: auto;
    }
}

@media (max-width: 900px){

    .hero{
        height: 400px;
        background-size: cover;
        text-align: center;
    }
    
    .hero img{
        height: 5em;
    }
    .name{
        display: none;
    }
            /* moble view navbar*/

            .hamburger{
                display: block;
            }
            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }
            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
            .nav-menu{
                position: fixed;
                z-index: 1;
                right: -100%;
                top: 70px;
                gap: 0;
                flex-direction: column;
                background-color: #262626;
                width: 100%;
                text-align: center;
                transition: 0.5s;
            }
            .button{
                margin: 16px 0;
            }
            .nav-menu.active{
                right: 0;
            }
            .grid-container{
                display: grid;
                max-width: 1400px;
                padding: 2em 0;
                margin: 0 auto;
                height: auto;
                gap: .5em;
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas: 
                "c1 "
                "c2 "
                "c3"
                ;
            }        

}

